@import "tailwindcss";

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 47.4% 11.2%);

  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(222.2 47.4% 11.2%);

  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);

  --color-card: transparent;
  --color-card-foreground: hsl(222.2 47.4% 11.2%);

  --color-primary: hsl(222.2 47.4% 11.2%);
  --color-primary-foreground: hsl(210 40% 98%);

  --color-secondary: hsl(210 40% 96.1%);
  --color-secondary-foreground: hsl(222.2 47.4% 11.2%);

  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 47.4% 11.2%);

  --color-destructive: hsl(0 100% 50%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-ring: hsl(215 20.2% 65.1%);

  --color-light-blue: rgba(93, 180, 198, 1);
  --color-white: rgba(255, 255, 255, 1);

  --radius: 0.5rem;
}

.light {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 47.4% 11.2%);

  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(222.2 47.4% 11.2%);

  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);

  --color-card: transparent;
  --color-card-foreground: hsl(222.2 47.4% 11.2%);

  --color-primary: hsl(222.2 47.4% 11.2%);
  --color-primary-foreground: hsl(210 40% 98%);

  --color-secondary: hsl(210 40% 96.1%);
  --color-secondary-foreground: hsl(222.2 47.4% 11.2%);

  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 47.4% 11.2%);

  --color-destructive: hsl(0 100% 50%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-ring: hsl(215 20.2% 65.1%);
}

.dark{
  --color-background: hsl(224 71% 4%);
  --color-foreground: hsl(213 31% 91%);

  --color-muted: hsl(223 47% 11%);
  --color-muted-foreground: hsl(215.4 16.3% 56.9%);

  --color-accent: hsl(216 34% 17%);
  --color-accent-foreground: hsl(210 40% 98%);

  --color-popover: hsl(224 71% 4%);
  --color-popover-foreground: hsl(215 20.2% 65.1%);

  --color-border: hsl(216 34% 17%);
  --color-input: hsl(216 34% 17%);

  --color-card: transparent;
  --color-card-foreground: hsl(213 31% 91%);

  --color-primary: hsl(210 40% 98%);
  --color-primary-foreground: hsl(222.2 47.4% 1.2%);

  --color-secondary: hsl(222.2 47.4% 11.2%);
  --color-secondary-foreground: hsl(210 40% 98%);

  --color-destructive: hsl(0 63% 31%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-ring: hsl(216 34% 17%);

  --color-light-blue: rgba(93, 180, 198, 1);

  --radius: 0.5rem;
}

@layer base {
  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

:root {
  --light-blue: rgba(93, 180, 198, 1);
  --white: rgba(255, 255, 255, 1);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
